.slider-container {
  width: 80%;
  margin: 0 auto;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: auto;
}

.slider-container button {
  position: absolute;
  top: 45%;

  padding: 20px;
  border: none;
  background-color: #9185854a;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
